.photo-grid{
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 23.987%);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: center; 
  margin: 92px 48px 0 48px;
  padding: 0;
  list-style-type: none;
}
@media screen and (min-width: 0px) and (max-width: 767px){
  .photo-grid{
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 12px;
    margin: 64px 16px 0 16px;
    width: calc(100% - 32px);
  }
}
@media screen and (min-width : 767px ) and ( max-width : 1023px ){
.photo-grid{
    width: calc(100% - 48px);
    grid-gap: 16px;
    grid-template-columns: repeat(2, 48.88%);
    margin: 88px 24px 0 24px;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1279px){
.photo-grid{
    width: calc(100% - 96px);
    grid-gap: 14px;
    grid-template-columns: repeat(3, 32.327%);
  }
}
