.photo-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
  margin: 92px 48px 0;
  padding: 0;
  list-style-type: none;
}
@media screen and (max-width: 767px){
  .photo-grid{
    grid-row-gap: 12px;
    margin: 64px 16px 0;
  }
}
@media screen and (min-width: 767px) and (max-width : 1023px){
.photo-grid{
    margin: 88px 24px 0;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1279px){
.photo-grid{
    grid-gap: 14px;
  }
}
