.places{
    margin: 92px auto 0;
    max-width: 984px;
}

@media screen and (min-width: 0px) and (max-width: 767px){
    .places{
        width: 100%;
        margin: 64px auto 0;
    }
}

@media screen and (min-width : 767px ) and ( max-width : 1023px ){
    .places{
        width: calc(100% - 48px);
        margin: 88px auto 0;
    }
}

@media screen and (min-width: 1023px) and (max-width: 1279px){
    .places{
        width: calc(100% - 96px);
    }
}
