@font-face {
    src: url("fonts__inter-regular.woff2") format('woff2'),
         url("fonts__inter-regular.woff") format('woff');
    font-family: 'Inter';
    font-style: normal;
}
@font-face {
    src: url("fonts__inter-bold.woff2") format('woff2'),
         url("fonts__inter-bold.woff") format('woff');
    font-family: 'Inter';
    font-weight: bold;
}