.header__lang-link-ru{
  text-decoration-line: none;
  text-align: right;
  max-width: 30px;
  font-size: 24px;
  line-height: 28px;
}
.header__lang-link-ru:hover{
  text-decoration: underline;
}

@media screen and (min-width: 0px) and (max-width: 767px){
    .header__lang-link-ru{
        font-size: 18px;
        line-height: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px){
    .header__lang-link-ru{
        font-size: 24px;
        line-height: 28px;
    }
}
@media screen and (min-width: 1281px){
    .header__lang-link-ru{
        font-size: 24px;
        line-height: 28px;
    }
}