.lead{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 0 148px 92px;
  margin-top: 56px;
}
@media screen and (min-width: 0px) and (max-width: 768px){
  .lead{
    padding: 0 2px 64px;
    margin-top: 48px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  .lead{
    padding: 0 0 88px;
    margin-top: 48px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px){
  .lead{
   padding: 0 48px 92px;
   margin-top: 48px;
  }
}
@media screen and (min-width: 1280px){
  .lead{
    padding: 0 148px 92px;
    margin-top: 56px;
  }
}