.cover__subtitle{
  position: absolute;
  width: 360px;
  height:66px;
  font-family: 'Inter';
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin: 429px 412px 245px 412px;
  z-index: 999;
}