.header{
  display: inline-flex;
  justify-content: space-between;
  max-width: 1184px;
  max-height: 52px;
  margin: 28px 48px 0;
}
@media screen and (min-width: 0px) and (max-width: 768px){
    .header{
        width: calc(100% - 32px);
        height: auto;
        margin: 16px 16px 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .header{
        width: calc(100% - 48px);
        height: auto;
        margin: 28px 24px 0;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
    .header{
        width: calc(100% - 96px);
        height: auto;
        margin: 28px 48px 0;
    }
}
@media screen and (min-width: 1280px){
    .header{
        width: calc(100% - 96px);
        height: auto;
        margin: 28px 48px 0;
    }
}
