.header{ 
  display: inline-flex; 
  justify-content: space-between; 
  max-height: 52px;
  max-width: 1184px;
} 
@media screen and (min-width: 0px) and (max-width: 767px){ 
  .header{ 
    width: calc(100% - 32px);
    margin: 16px 16px 0;
  } 
} 
@media screen and (min-width: 767px) and (max-width: 1023px){ 
  .header{ 
    width: calc(100% - 48px);
    margin: 28px 24px 0;
  } 
} 
 
@media screen and (min-width: 1023px){ 
  .header{ 
    width: calc(100% - 96px);  
    margin: 28px 48px 0;
  }
}  