.footer__copyright{
    display: inline-flex;
    justify-content: flex-start;
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    color: #ffffff;
    line-height: 20px;
    text-align: right;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    padding: 0;
}
