.footer__copyright{
  font-size: 14px;
  line-height: 16px;
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0;
} 
 
@media screen and (max-width: 767px){ 
  .footer__copyright{
    text-align: left;
    line-height: 14px;
    margin: 48px 0 0 0;
  }
}