.intro{
	max-width: 690px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-self: flex-start;
	font-style: normal;
	box-sizing: border-box;
}

@media screen and (min-width: 0px) and (max-width: 767px){
    .intro{
    width: calc(100% - 32px);
    margin: 0 16px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .intro{
    max-width: 720px;
    margin-left: 24px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .intro{
    margin-left: 48px;
    }
}

@media screen and (min-width: 1280px){
    .intro{
    margin-left: 148px;
    }
}