.places__place{
  width: 100%;
	display: grid;
	grid-template-columns: minmax(460px, 460px) minmax(456px, 484px);
	grid-template-rows: repeat(2, auto);
	grid-gap: 48px 40px;
  padding-bottom: 80px;
}
.places__place:last-child{
    padding-bottom: 0;
}
@media screen and (min-width: 0px) and (max-width: 767px){
    .places__place{
		max-width: 320px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 0;
		grid-gap: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .places__place{
    grid-template-columns: minmax(340px, 340px) minmax(352px, 352px);
    grid-gap: 48px 28px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .places__place{
    grid-template-columns: minmax(440px, 440px) minmax(456px, 456px);
    grid-gap: 48px 32px;
    }
}