.places__place{
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 460px 40px 484px;
  grid-template-columns: 460px 484px;
  -ms-grid-rows: auto 48px auto;
  grid-template-rows: repeat(2, auto);
  grid-gap: 48px 40px;
  padding-bottom: 80px;
}.places__place > *:nth-child(1){
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}.places__place > *:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}.places__place > *:nth-child(3){
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}.places__place > *:nth-child(4){
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.places__place:last-child{
  padding-bottom: 0;
}
@media screen and (max-width: 767px){
  .places__place{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0;
    grid-row-gap: 32px;
  }
    .places__place:nth-child(1){
    margin-top: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .places__place{
    -ms-grid-columns: 340px 28px 352px;
    grid-template-columns: 340px 352px;
    grid-gap: 48px 28px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .places__place{
    -ms-grid-columns: 440px 32px 456px;
    grid-template-columns: 440px 456px;
    grid-gap: 48px 32px;
  }
}