.places__place{
  width: 100%;
	display: grid;
	grid-template-columns: 460px 484px;
	grid-template-rows: repeat(2, auto);
	grid-gap: 48px 40px;
  padding-bottom: 80px;
}
.places__place:last-child{
    padding-bottom: 0;
}
@media screen and (min-width: 0px) and (max-width: 767px){
    .places__place{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .places__place{
    grid-template-columns: 340px 352px;
    grid-gap: 48px 28px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .places__place{
    grid-template-columns: 440px 456px;
    grid-gap: 48px 32px;
    }
}