/* normalize */
@import url("../vendor/normalize.css");

/* fonts */
@import url("../vendor/fonts/__inter/fonts__inter.css");

/* page */
@import url("../blocks/page/page.css");

/* text */
@import url("../blocks/text/__bold/text__bold.css");
@import url("../blocks/text/__black/text__black.css");
@import url("../blocks/text/__normal/text__normal.css");

/* header */
@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");
@import url("../blocks/header/__lang/header__lang.css");
@import url("../blocks/header/__lang/header__lang-link.css");
@import url("../blocks/header/__lang/_active/header__lang-link_active.css");

/* lead */
@import url("../blocks/lead/lead.css");
@import url("../blocks/lead/__title/lead__title.css");
@import url("../blocks/lead/__subtitle/lead__subtitle.css");
@import url("../blocks/lead/__image/lead__image.css");
@import url("../blocks/lead/__caption/lead__caption.css");

/* intro */
@import url("../blocks/intro/intro.css");
@import url("../blocks/intro/__title/intro__title.css");
@import url("../blocks/intro/__text/intro__text.css");
@import url("../blocks/intro/__list/intro__list.css");

/* photo-grid */
@import url("../blocks/photo-grid/photo-grid.css");
@import url("../blocks/photo-grid/__item/photo-grid__item.css");

/* places */
@import url("../blocks/places/places.css");
@import url("../blocks/places/__place/places__place.css");
@import url("../blocks/places/__title/places__title.css");
@import url("../blocks/places/__website/places__website.css");
@import url("../blocks/places/__link/places__link.css");
@import url("../blocks/places/__link/places__link-heading.css");
@import url("../blocks/places/__image/places__image.css");
@import url("../blocks/places/__paragraph/places__paragraph.css");

/* cover */
@import url("../blocks/cover/cover.css");
@import url("../blocks/cover/__title/cover__title.css");
@import url("../blocks/cover/__subtitle/cover__subtitle.css");
@import url("../blocks/cover/__overlay/cover__overlay.css");

/* footer */
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__links/footer__links.css");
@import url("../blocks/footer/__link/footer__link.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");