.cover__background{
    display: block;
    max-width: 1184px;
    height: 740px;
    background-image: url("../../../images/cover-trains.jpg");
    background-size: cover;
    opacity: 0.8;
}
.cover__background:hover{
    opacity: 0.3;
}