.footer{
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 92px 48px 24px;
}

@media screen and (min-width: 0px) and (max-width: 767px){
  .footer{
    display: flex;
    flex-direction: column;
    margin: 64px 0 24px 16px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px){
    .footer{
      width: calc(100%-48px);
      margin: 88px 24px 24px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .footer{
      width: calc(100%-96px);
    }
}