.places__place__paragraph{
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    line-height: 29px;
    /*   margin-top: 24px; */
    padding-bottom: 24px;
    margin: 0;
    color: #ffffff;
}